.single-item {
  margin-top: 30px;
  padding: 30px;
}

.row-container {
  display: flex;
  background-image: url("https://i.pinimg.com/736x/6a/1b/e2/6a1be245db7487e9c5eda0877073c33f.jpg");
  background-repeat: no-repeat;

  margin: 30px;
}